body {
  background-color: linen;
  margin: 1rem;
}

button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  color: black;
  font-size: 1rem;
  padding: 1rem;
}

button:disabled {
  background-color: gray;
  color: lightgray;
}
